#header-subscribe .bg {
    background-image: url('../images/IMG-20190920-WA0152.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:0.5;
}